.jumbotron a {
  text-decoration: none;
}

.jumbotron-bg-cover {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat;

  .container {
    @include media-breakpoint-up(sm) {
      width: 96%;
    }
  }
}
